
#background{
  background:CADETBLUE;
  height:8000px;
  color:white;
}

#container{
  width:900px;
  margin:0px auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#header{
  margin-top:40px;
  margin-left: 20px;
  width:800px;
  background:CADETBLUE;
  height: 2%;
  display:inline-block;
  background:white;
  padding-bottom:10px;
  border-bottom:solid 1px black;
  border-radius:10px;
  color:black;
}

#header > h1{
  margin-left:60px;
  display: inline-block;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  border-bottom: solid 2 px navy;
}

#header ul,li{
  margin-top:15px;
  display: inline-block;
  padding:0% 2%;
  float:right;
}
#header ul{
  width: 40%;
}

#header a{
  text-decoration: none;
  color:#009999;
}

#header a:hover {
  color: hotpink;
}

#header li{
  border-right:solid 1px;
}

#main{
  margin-top: 50px;
  height: 700px;
  background:white;
  margin:20px;
  border:solid 1px silver;
}

h2{
  padding: 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#agenda{
  margin-top: 30px;
  width: 800px;
  background:white;
  margin:20px;
  border-radius: 10px;
  border:solid 1px silver;
  padding:50px;
  color:black;
}

h2{
  margin-left: 20px;
}

#tabs ul li{
  float:none;
}

input{
  display:inline-block;
}

textarea{
  vertical-align: top;
  font-family: Tahoma;
  font-size:.80em;
}

table{
  padding: 10px;
}

.table{
    display:table;
}

input{
  padding:0px;
  margin:0px;
}

#agenda ul li{
  float:none;
  margin-left: 350px;
  display:inline;
}
input[type=date]{
  height:25px;
  width:140px;
}

.objectives{
  margin-bottom:40px;
  padding: 10px;
}

.goals{
  margin-bottom:40px;
  padding: 10px;
}

.attendees{
  margin-bottom:40px;
  padding: 10px;
}

.attendees input[type=submit]{
  margin-left:450px;
  margin-top:5px;
  margin-bottom:5px;
}

.Agenda{
  margin-bottom:40px;
  padding: 10px;
}

.FollowUps{
  margin-top:0px;
  padding-top:0px;
}

.FollowUps table{
    vertical-align: top;
  }

.FollowUps input[name=updatefollowup]{
  background:green;
  color:white;
  padding: 5px;
}
.FollowUps input[id='follow']{
  width:300px;
}

.FollowUps{
    width:750px;
    margin-top:10px;
  }
.FollowUps th{
  width:190px;
  text-align:center;
}
.FollowUps input[type="text"]{
  width:300px;
}
#agenda > div.FollowUps > form > div > table > thead > tr:nth-child(1) > th:nth-child(1){
  text-align:left;
}
#agenda > div.FollowUps > form > div > table > thead > tr:nth-child(1) > th:nth-child(4){
  text-align:left;
}

#agenda > div.FollowUps > form > div > table > thead > tr:nth-child(1) > th:nth-child(4){
  width:200px;
  margin-left:50px;
}

#agenda > div.attendees > form{
  border:0px;
}


#container > div.email > form > input[type="button"]{
  display:inline-block;
  border-radius: 5px;
}

#agenda a[name="back"]{
  margin-left: 500px;
}

input[name=email]{
  margin-top: 20px;
  margin-left:600px;
  padding:5px;
  color:black;
  border:solid 1px black;
  border-radius: 5px;
}

.add_field_button{
  margin-top: 20px;
  padding:5px;
  background:green;
  color:white;
  border-radius: 5px;
  margin-bottom:20px;
}

#agenda a[name="back"]{
  margin-left: 500px;
}

textarea{
  border:solid 1px black;
  resize:none;
  vertical-align: top;
  width: 700px;
  padding:10px;
}

#container > div.email > a{
  margin-left: 500px;
}

#container > div.email > form:nth-child(1){
  margin-top: 20px;
  width:100px;
  margin-left:600px;
  padding:5px;
  color:black;
  border:solid 1px black;
  border-radius: 5px;
  display:inline-block;
  background:white;
}
